@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow&display=swap');

* {
    background-color: #192852;
}

header {
    display: flex;
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    background-color: #192841;
    height: 10px;
    z-index: 100;
}


nav {
    background-color: #192841;
}

.topbar {
    background-color: #192841;
    align-items: center;
    justify-content: space-between;
    position: static;
}

.topbaritem {
    font-family: 'Archivo Narrow', sans-serif;
    display: inline-block;
    padding: 0px 40px;
    list-style-type: none;
    color: aliceblue;
    background-color: #192841;  
    cursor: pointer;
}

.topbaritem:hover {
    background-color: #192855;
}

.GameContainerOpened {
    align-items: center;
    margin: auto;
    width: 50%;
    height: 1000px;
}

.GameContainerClosed {
    align-items: center;
    margin: auto;
    width: 50%;
    height: 150px;
}

.GameType {
    list-style-type: none;
    margin: auto;
    text-align: center;
    font-family: 'Archivo Narrow', sans-serif;
    color: aliceblue;
    width: 100%;
    height: 150px;
    line-height: 100px;
    font-size: 25px;
}


a {
    font-family: 'Archivo Narrow', sans-serif;
    color: aliceblue;
    text-decoration: none;
    background-color: #192841;
}

.DropDownDown {
    transform: rotate(180deg);
    border-radius: 12px;
    color: aliceblue;
    background-color: #192841;
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    font-size: 40px;
    padding: 32px 16px;
}


.DropDownUp {
    transform: rotate(0deg);
    border-radius: 12px;
    color: aliceblue;
    background-color: #192841;
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    font-size: 40px;
    padding: 32px 16px;
}

.MainTitle {
    font-family: 'Archivo Narrow', sans-serif;
    color: aliceblue;
    width: 100%;
    height: 150px;
    line-height: 100px;
    text-align: center;
    font-size: 50px;
    margin: auto;
}

.Divider {
    width: 20%;
    height: 2px;
    background-color: aliceblue;
    margin: auto;
    outline: none;
}

main {
    height: 1000px;
    width: 100%;
    margin-top: 70px;
}

.logo {
    cursor: pointer;
    background-color: #192841;
    width: 40px;
    height: 40px;
    position: relative;
    left: 20%;
}

.MainImage {
    background-color: #192841;
}

b {
    font-family: 'Archivo Narrow', sans-serif;
}

.Project {
    font-family: 'Archivo Narrow', sans-serif;
    color: aliceblue;
    background-color: #192852;
    width: 80%;
    height: 70px;
    line-height: 4;
    text-align: center;
    font-size: 1.7em;
    margin-left: 15%;
    text-decoration: underline;
}

.ProjectInfo {
    margin: auto;
    width: 80%;
    height: 200px;
}

.Info {
    font-family: 'Archivo Narrow', sans-serif;
    color: aliceblue;
    background-color: #192852;
    width: 80%;
    height: 70px;
    line-height: 1;
    font-size: 1.3em;
    margin-left: 15%;
}

.MainContainer {
    width: 100%;
    height: 300px;
    font-family: 'Archivo Narrow', sans-serif;
    color: aliceblue;
    line-height: 150px;
    font-size: 150px;
    Text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
}

.SkillsTitle {
    width: 100%;
    height: 100px;
    font-family: 'Archivo Narrow', sans-serif;
    color: black;
    line-height: 100px;
    font-size: 100px;
    Text-align: center;
    top: 100px;
    margin-bottom: 100px;
    background-color: aliceblue;
    position: relative;

}

.SkillsDiv {
    width: 100%;
    height: 700px;
    font-family: 'Archivo Narrow', sans-serif;
    color: aliceblue;
    line-height: 100px;
    font-size: 100px;
    Text-align: center;
    margin-top: 100px;
    background-color: aliceblue;
}

.SkillsContainer {
    width: 100%;
    height: 400px;
    font-family: 'Archivo Narrow', sans-serif;
    color: aliceblue;
    display: inline-block;
    margin-top: 100px;
    background-color: aliceblue;
}

.SkillsItem {
    height: 150px;
    display: inline-block;
    left: 0;
    right: 0;
    background-color: aliceblue;
}

.ProjectsMainTitle {
    background-color: #192852;
    width: 100%;
    text-align: center;
    height: 100px;
    text-decoration: none;
    font-family: 'Archivo Narrow', sans-serif;
    font-size: 100px;
    position: relative;
    margin-top: 100px;
    color: aliceblue;
    display: block;
}
