@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow&display=swap');

* {
    background-color: #191919;
}

b {
    background-color: transparent;
}

header {
    display: flex;
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    justify-content: space-between;
    align-items: center;
    background-color: #000000;
    height: 70px;
    z-index: 100;
}


.topbar {
    width: 50%;
    height: 70px;
    background-color: #000000;
    position: sticky;
    right: 5%;
    text-align: right;
}

.topbaritem {
    font-family: 'Archivo Narrow', sans-serif;
    display: inline-block;
    list-style-type: none;
    color: aliceblue;
    background-color: transparent;  
    cursor: pointer;
    text-align: center;
    line-height: 35px;
    font-size: 20px;
    text-decoration: none;
    margin-right: 10%;
    margin-top: 15px;
}


.topbaritem:hover {
    cursor: pointer;
    border-bottom: 3px solid whitesmoke;
}

.GameContainerOpened {
    align-items: center;
    margin: auto;
    width: 50%;
    height: 1000px;
}

.GameContainerClosed {
    align-items: center;
    margin: auto;
    width: 50%;
    height: 150px;
}

.GameType {
    list-style-type: none;
    margin: auto;
    text-align: center;
    font-family: 'Archivo Narrow', sans-serif;
    color: aliceblue;
    width: 100%;
    height: 150px;
    line-height: 100px;
    font-size: 25px;
}


a {
    font-family: 'Archivo Narrow', sans-serif;
    color: aliceblue;
    text-decoration: none;
    background-color: #000000;
}

.DropDownDown {
    transform: rotate(180deg);
    border-radius: 12px;
    color: aliceblue;
    background-color: #000000;
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    font-size: 40px;
    padding: 32px 16px;
}


.DropDownUp {
    transform: rotate(0deg);
    border-radius: 12px;
    color: aliceblue;
    background-color: #000000;
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    font-size: 40px;
    padding: 32px 16px;
}

.main {
    overflow: hidden;
}

.MainTitle {
    font-family: 'Archivo Narrow', sans-serif;
    color: aliceblue;
    width: 100%;
    height: 150px;
    line-height: 100px;
    text-align: center;
    font-size: 50px;
    margin: auto;
}

.Divider {
    width: 20%;
    height: 2px;
    background-color: #333333;
    margin: auto;
    outline: none;
}

.absDivider {
    width: 20%;
    height: 2px;
    background-color: #191919;
    margin: auto;
    outline: none;
    position: absolute;
    left: 0;
    right: 0;
}

main {
    height: 1000px;
    width: 100%;
    margin-top: 70px;
}

.logo {
    cursor: pointer;
    background-color: #000000;
    width: 40px;
    height: 40px;
    position: relative;
    left: 10%;
}

.MainImage {
    background-color: transparent;
    width: 40px;
    height: 40px;
}

b {
    font-family: 'Archivo Narrow', sans-serif;
}

.Project {
    font-family: 'Archivo Narrow', sans-serif;
    color: aliceblue;
    background-color: #191919;
    width: 80%;
    height: 70px;
    line-height: 4;
    text-align: center;
    font-size: 1.7em;
    margin-left: 15%;
    text-decoration: underline;
}

.ProjectInfo {
    margin: auto;
    width: 80%;
    height: 200px;
}

.Info {
    font-family: 'Archivo Narrow', sans-serif;
    color: aliceblue;
    background-color: #191919;
    width: 80%;
    height: 70px;
    line-height: 1;
    font-size: 1.3em;
    margin-left: 15%;
}

.MainContainer {
    width: 50%;
    height: 300px;
    font-family: 'Archivo Narrow', sans-serif;
    color: aliceblue;
    line-height: 150px;
    font-size: 4vw;
    Text-align: center;
    border-top: 100px solid #191919;
    border-bottom: 100px solid #191919;
    background-color: #191919;
    margin-right: 0%;
    margin-left: 40%;
}

.SkillsTitle {
    width: 100%;
    height: 100px;
    font-family: 'Archivo Narrow', sans-serif;
    color: black;
    line-height: 100px;
    font-size: 100px;
    Text-align: center;
    top: 206px;
    margin-bottom: 100px;
    background-color: #333333;
    position: absolute;


}

.SkillsDiv {
    width: 100%;
    font-family: 'Archivo Narrow', sans-serif;
    color: aliceblue;
    line-height: 100px;
    font-size: 100px;
    Text-align: center;
    border-top: 110px solid #191919;
    background-color: #333333;
    position: relative;
}

.SkillsContainer {
    width: 100%;
    font-family: 'Archivo Narrow', sans-serif;
    color: aliceblue;
    display: inline-block;
    margin-top: 286px;
    background-color: #191919;
    padding-top: 20px;
    padding-bottom: 20px;
    overflow: hidden;
}

.SkillsItem {
    height: 150px;
    display: inline-block;
    left: 0;
    right: 0;
    background-color: transparent;
}

.SkillAnimations {
    background-color: transparent;
    transform: translateX(100%);
    overflow: hidden;
}

.SkillAnimationsAnim {
    animation: right-to-left 0.5s ease-in-out forwards;
}

@keyframes right-to-left {
    100% {
        transform: translateX(0);
    }
}

.ProjectsMainTitle {
    background-color: #333333;
    width: 40%;
    text-align: center;
    text-decoration: none;
    font-family: 'Archivo Narrow', sans-serif;
    font-size: 3vw;
    line-height: 200px;
    color: aliceblue;   
    background-color: #191919;
    margin: auto;
    border-radius: 50px;
    margin-left: auto;
    margin-right: auto;
    position: static;
    height: 200px;
    display: block;
}

.ProjectsMainTitle:hover {
    box-shadow: 0px 5px 5px #424242;
}

.custom-shape-divider-top-1638130578 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    background-color: #333333;
}

.custom-shape-divider-top-1638130578 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 206px;
    background-color: #333333;
}

.custom-shape-divider-top-1638130578 .shape-fill {
    fill: #191919;
}

.DefaultDiv {
    width: 100%;
    background-color: #333333;
}

.CartoonImage {
    background-color: #191919;
    height: 519px;
    position: absolute;
    left: 10%;
    top: 100px;
    width: 384px;
}

.personImage {
    width: 200px;
    height: 200px;
    z-index: 1;
    position: absolute;
    left: 10%;
    top: 150px;
    transform: translateX(-50%);
    opacity: 0;
}

.custom-shape-divider-top-1643936681 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-top-1643936681 svg {
    position: relative;
    display: block;
    width: calc(170% + 1.3px);
    height: 434px;
}

.custom-shape-divider-top-1643936681 .shape-fill {
    fill: #333333;
}


.FrontTitle {
    position: absolute;
    z-index: 1;
    top: 350px;
    margin-right: auto;
    margin-left: auto;
    left: 0;
    right: 0;
    background-color: transparent;
    font-size: 4vw;
    color: whitesmoke;
    font-family: 'Archivo Narrow', sans-serif;
    text-align: center;
    opacity: 0;
    transform: translateY(50%);
}

.FrontTitleAnimation {
    animation: up-transparent 0.5s ease-in-out forwards;
}

.personImageAnimation {
    animation: left-right-transparent 0.5s ease-in-out forwards;
}

@keyframes up-transparent {
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes left-right-transparent {
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.AboutContainer {
    width: 100%;
    background-color: #333333;
}

.AboutTitle {
    font-family: 'Archivo Narrow', sans-serif;
    color: aliceblue;
    width: 100%;
    text-align: center;
    font-size: 4vw;
    padding-top: 50px;
}

.AboutDescription{
    width: 100%;
    background-color: #333333;
    padding-bottom: 100px;
}

.AboutImage {
    background-color: transparent;
    margin-left: 15%;
    height: 256px;
    left: 0;
    right: 0;
}

.TextBox {
    width: 50%;
    display: inline-block;
    background-color: transparent;
    text-align: left;
    font-size: 2.5vw;
    color: whitesmoke;
    margin: auto;
    height: 256px;
    margin-left: 5%;
}

.AboutText {
    width: 100%;
    background-color: transparent;
}

.custom-shape-divider-bottom-1644003976 {
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
    position: relative;
}

.custom-shape-divider-bottom-1644003976 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 447px;
}

.custom-shape-divider-bottom-1644003976 .shape-fill {
    fill: #000000;
}

.githubImage {
    width: 100px;
    height: 100px;
    z-index: 1;
    background-color: transparent;
    margin: auto;
    border-radius: 20%;
}

.githubholder {
    transform: rotate(0);
    position: absolute;
    top: 40%;
    background-color: transparent;
    border-radius: 10%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 100px;
}

.ContactHolder {
    position: relative;
    background-color: transparent;
}

.ContactTitle {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    color: whitesmoke;
    font-family: 'Archivo Narrow', sans-serif;
    font-size: 70px;
    top: 10%;
    text-align: center;
    background-color: transparent;
}

.Contactmethod {
    width: 100%;
    position: absolute;
    top: 70%;
    background-color: transparent;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 40px;
    font-family: 'Archivo Narrow', sans-serif;
    color: whitesmoke;
}