.InfoBlock {
    width: 100%;
    margin-bottom: 8px;
}

.InfoTitle {
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 4px;
    color: var(--foreground);
}

.InfoSubtitle {
    font-size: 1rem;
    font-weight: 500;
    color: var(--foreground-muted);
}