html, body {
    margin: 0;
    padding: 0;
}

.TechSubSection {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--background15);
    box-shadow: var(--shadow-color) 0px 2px 4px 0px;
    width: 100%;
    column-gap: 30px;
    row-gap: 10px;
    flex-wrap: wrap;
}

.TechAnimation {
    width: 200px;
    height: 200px;
    padding-bottom: 20px;
    padding-top: 20px;
}

.TechObject {
    height: 90px;
    padding-bottom: 20px;
    padding-top: 20px;
}