.BoxContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fbfbfb;
    box-shadow: 0 6px 7px #c9c9c9;
    column-gap: 30px;
    row-gap: 30px;
    flex-wrap: wrap;
    border-radius: 10px;
    width: 60%;
    padding: 20px 0 20px 0;
}

.BoxContainer:hover {
    box-shadow: 0 6px 13px #c9c9c9;
}

.BoxTitle {
    background-color: transparent;
    font-size: 40px;
    text-align: center;
    margin-left: 30px;
    font-weight: 600;
    max-width: 80%;
    padding-right: 30px;
}


.subSubInfo {
    font-weight: 300;
    color: gray;
    list-style-type: circle;
    text-align: left;
    margin-left: 10%;
    margin-top: 0;
    font-size: 20px;
    background-color: transparent;
}

.AboutSubSection {
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    column-gap: 30px;
    row-gap: 10px;
    flex-wrap: wrap;
}

.Title {
    background-color: transparent;
    font-size: 60px;
    text-align: center;
    margin-left: 30px;
    font-weight: 600;
    width: 100%;
}