@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

* {
    font-family: "Poppins",sans-serif;
}

html {
    scroll-behavior: smooth;
}

:root {
  --background: #ffffff;
  --background-15: #fbfbfb;
  --background-2: #f0f0f0;
  --background-3: #e0e0e0;
  --foreground: #171717;
  --foreground-2: #333333;
  --foreground-3: #555555;
  --shadow-color: rgba(0, 0, 0, 0.08);
  --shadow-color-2: rgba(0, 0, 0, 0.12);
  --primary: #af1c1c;
}

.dark-mode {
  --background: #121212;
  --background-15: #181818;
  --background-2: #1e1e1e;
  --background-3: #2c2c2c;
  --foreground: #f5f5f5;
  --foreground-2: #cccccc;
  --foreground-3: #aaaaaa;
  --shadow-color: rgba(0, 0, 0, 0.4);
--shadow-color-2: rgba(0, 0, 0, 0.6);
  --primary: #ff4c4c;
}

.IntroGrid {
    display: grid;
    grid-template-columns: 100%;
    grid-auto-rows: minmax(0px, auto);
    grid-auto-columns: minmax(0px, 500px);
    justify-content: center;
    align-items: center;
    row-gap: 50px;
    column-gap: 20px;
    background-color: transparent;
    background-color: var(--background);
    color: var(--foreground);
}

.SubInfo {
    font-weight: 500;
    color: var(--foreground-3);
    /* list-style-type: circle; */
    text-align: left;
    font-size: 14px;
    background-color: transparent;
    margin: 0;
    padding-left: 20px;
}

.ProjectImage {
    width: 800px;
    border-radius: 10px;
    box-shadow: var(--shadow-color) 0px 2px 4px 0px;
    transition: box-shadow 0.3s ease;
}

.inverted {
    filter: invert(1);
}

.divider-container {
    width: 100%;
    background-color: transparent;
    margin: 10px auto;
    border-radius: 5px;
}

.divider {
    width: 60px;
    height: 4px;
    background-color: var(--foreground);
    margin: 0 auto;
    border-radius: 5px;
}

@media (max-width: 1400px) {
    .ProjectImage {
        width: 100%;
    }
}