.ProjectLink {
    text-align: center;
    width: 100%;
}

#ChessImage {
    width: 400px;
}

#SortImage {
    width: 400px;
}

#RoBooksImage {
    width: 200px;
}

#ReceiptImage {
    width: 500px;
}


@media (max-width: 800px) {
    #ReceiptImage {
        width: 400px;
    }
}

@media (max-width: 600px) {
    #ReceiptImage {
        width: 300px;
    }
    #ChessImage {
        width: 200px;
    }
    
    #SortImage {
        width: 200px;
    }
}

@media (max-width: 400px) {
    #ReceiptImage {
        width: 200px;
    }
}